<!-- <div class="jumbotron">
  <a href="/">
    <h1 style="text-align:center; margin-top: 100px">Welcome to MediateNow</h1>
  </a>
</div> -->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">MediateNow</a>
</nav>

<div class="container-fluid">
  <div class="jumbotron">
    MediateNow is a video conferencing solution designed to bring people together
  </div>
</div>