<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('./partials/head.ejs')%>
    <script src="https://meet.jit.si/libs/lib-jitsi-meet.min.js"></script>
</head>

<body>

  <!-- Navigation -->
  <%- include('./partials/navbar_login.ejs')%>
  <!-- <iframe src="https://meet.mediatenow.org"></iframe> -->

  <div class="container">
    <h2>Admin Dashboard</h2>
  </div>

  <footer class="py-5 bg-dark" id="footer">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MediateNow 2020</p>
    </div>
  </footer>

</body>

</html>

