<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
  <style>
    body {
      padding-top: 56px;
    }

    body #footer {
      padding: 20px;
      height: 30px;
      flex-shrink: 0;
      background-color:white !important;
      color: black !important;
    }

    .button-container {
      display: block;
      margin-top: 3%;
      padding: 10px;
    }

    .error-box {
      list-style-type:none;
    }

    #error-messages .alert {
      /* text-align: center; */
      width: 80%;
      margin-left: 10%;
    }

    #video-conf-button {
      margin-top: 5%;
    }

    #jitsi-frame {
      width: 100%;
      height: 100%;
    }

    #jitsi-frame-container {
      width: 100%;
      height: 800px;
    }

  </style>

  <script>
    window.onload = function() {
      $('#room-form').submit(submit);
      function submit (evt) {
        evt.preventDefault();
        const roomName = document.getElementById('room-input').value

        $.ajax({
          contentType: 'application/json',
          data: JSON.stringify({
            roomName,
          }),
          dataType: 'json',
          success: function(data){
            if (data.errorMessages) {
              $('#error-messages').empty();
              $("#error-messages").append(`<div class="alert alert-danger">${data.errorMessages[0]}</div>`)
            } else {
              const url = data.roomURL
              let token = url.split('?jwt=')[1]
              if (token === 'undefined') {
                token = "<%- jitsiToken %>"
              }
              window.location = url.split('?jwt=')[0] + '?jwt=' + token
            }
          },
          error: function(err){
            const msg = 'Something went wrong'
            $('#error-messages').empty();
            $("#error-messages").append(`<div class="alert alert-danger">${msg}</div>`)
          },
          type: 'POST',
          url: '/api/join_room'
      }, console.log);
      }
    }
  </script>
</head>

<body>

  <!-- Navigation -->
  <%- include('./partials/navbar_login.ejs')%>
  <!-- <div class="container" id="video-conf-button">
    <button class="btn btn-primary" id="redirect-to-jitsi">Open Video Conference Room</button>
  </div> -->

  <!-- <div class="container" id='jitsi-frame-container'>
    <iframe
    id="jitsi-frame"
    allow="camera; microphone"
    src="https://meet.meditatenow.org/?jwt=<%= locals.jitsiToken %>" frameborder="0">
    </iframe>
  </div> -->

  <!-- Header -->
  <header class="bg-success py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Enter room name</h1>
          <form id='room-form'>
            <div class="form-group">
              <input type="text" id="room-input" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Go</button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div class="error-box">
    <div id="error-messages">
    </div>
  </div>

  <footer class="py-5 bg-dark" id="footer">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MediateNow 2020</p>
    </div>
  </footer>

</body>

</html>
