<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
  <script>
    window.onload = function() {
      $('#form').submit(submit);
      function submit (evt) {
        evt.preventDefault();
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value

        $.ajax({
          contentType: 'application/json',
          data: JSON.stringify({
            email,
            password
          }),
          dataType: 'json',
          success: function(data){
            console.log(data)
            if (data.errorMessages) {
              $('#error-messages').empty();
              $("#error-messages").append(`<div class="alert alert-danger">${data.errorMessages[0]}</div>`)
            } else {
              window.location = data.location
            }
          },
          error: function(err){
            const msg = 'Invalid email or password'
            $('#error-messages').empty();
            $("#error-messages").append(`<div class="alert alert-danger">${msg}</div>`)
          },
          type: 'POST',
          url: '/api/login'
      }, console.log);
      }
      // document.getElementById('submit').addEventListener('click', submit)
    }
  </script>
</head>

<body>
  <%- include('./partials/navbar.ejs')%>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Login</h1>
          <p class="lead mb-5 text-white-50">Please enter your username and password to login</p>
        </div>
      </div>
    </div>
  </header>

  <div class="error-box">
    <div id="error-messages">
    </div>
  </div>

  <div class="container login-container" id="login-form">
    <form id='form'>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button class="btn btn-primary" id="submit">Submit</button>
    </form>
  </div>
  </div>
</body>

</html>